@charset "UTF-8";

body{
    background-image: linear-gradient(to top, rgb(0,255,255), rgb(208, 103, 208));
    font-family: 'Courier New', Courier, monospace;
}

img#vi2{
    border-radius: 3%;
}

p#vi7{
    text-align: right;
}

a#vi {
    
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

