@charset "UTF-8";

body{
    background-image: linear-gradient(to top, rgb(208,103,208), rgb(0,255,255));
    font-family: 'Courier New', Courier, monospace;
}

img#vi{
    border-radius: 3%;
   }

a{
    color: black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
